################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSVToInfluxDB/v15
/.vs/CSVToInfluxDB/v16
